* {
  box-sizing: border-box;
}

#stage {
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4px;
  width: 100%;
  height: 100%;
  padding: 4px;
}

#stage>article {
  padding: 4px;
  border: 1px solid #CCC;
  overflow: auto;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}