.Box {
  padding: 4px;
  border: 1px solid #CCC;
}

.ButtonBlank {
  display: inline-flex;
  gap: 4px;
  min-width: 80px;
  min-height: 1em;
  padding: 1px;
  border-bottom: 1px solid #666;
  background-color: #EEE;

  >span {
    padding: 2px;
    border: 1px solid #CCC;
    cursor: pointer;
    font-size: small;
  }
}

.ButtonBlank[data-preview]> :last-child {
  opacity: 0.5;
}

.ButtonOption[data-dragging] {
  position: fixed;
  pointer-events: none;
}

.ButtonOption:disabled {
  pointer-events: none;
}

.ChoiceOption {
  font-weight: bold;
}

.ChoiceOption>i {
  padding: 0 4px;
  border: 1px solid #CCC;
  border-radius: 50%;
  margin-right: 4px;
  font-style: normal;
}

.DebugConsole {
  position: fixed;
  right: 16px;
  bottom: 16px;

  >div {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    overflow: auto;
    background-color: #EEE;
    box-shadow: 0 2px 4px #000;

    >pre {
      flex: 1;
      padding: 4px;
      color: #EEE;
      background-color: #111;
    }
  }

  >button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120px;
  }
}

.FigureTitle {
  font-weight: bold;
  text-align: center;
}

.FigureCaption {
  font-style: italic;
  font-size: small;
  text-align: right;
  opacity: 0.5;
}

.Footnote::before {
  content: "*";
  margin-right: 4px;
}

.Image,
.Audio,
.Video {
  max-width: 100%;
}

.Indentation {
  padding-left: 16px;
}

.Line:empty {
  display: none;
}

.Line[data-anchored] {
  display: grid;
  grid-template-columns: 1fr auto;
}

.LongLingualOption {
  width: 100%;
  height: 100px;
}

.PairingLine {
  stroke: #E22;
  stroke-width: 3;
}

.PairingOption {
  cursor: pointer;

  &[data-dragging] {
    font-weight: bold;
  }
}

.Question {
  padding: 4px;
  font-weight: bold;
  background-color: #EEE;
}

.Quotation {
  padding-left: 8px;
  border-left: 4px solid #CCC;
}

.SyntaxErrorHandler {
  color: #E22;
}

.Table {
  display: inline-table;
  border-collapse: collapse;
  vertical-align: sub;

  th {
    padding: 2px;
    border: 1px solid #CCC;
    background-color: #EEE;
  }

  td {
    padding: 2px;
    border: 1px solid #CCC;
  }
}